*{
    font-family: 'Ysabeau SC', sans-serif;
}

.title{
    margin-left: 20px;
    color: rgb(233, 233, 217);
    font-size: 10px;
    height: 30px;
    display: flex;
}

.title h1{
    margin-bottom: 0px;
}

.title p{
    margin-top: 22px;
    margin-left: 5px;
}

.description{
    font-size: 13px;
    margin-left: 20px;
    color: rgb(191, 198, 209);
    opacity: 0.5;
    width: 500px;
}

.icons-container{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 50px;
    margin-left: 50px;

}

.icon-element{
    width: 70px;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: #284b54;
    border-radius: 5%; 
    opacity: 0.7;
    padding-bottom: 15px;

}

.icon-element img{
    margin-top: 15px;
    margin-bottom: 0%;
    width: 30px;
    
}

.progress-bar-main{
    width: 500px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;

}
.progress-bar-container {

    width: 350px; 
    height: 10px; 
    background-color: #284b54;
    margin-left: 10px; 
    padding-top: 0%;
    opacity: 0.8;
    
  }

.progress-bar {
    width: 70%; 
    height: 100%;
    background-color: #cfb177; 
    transition: width 0.3s ease; 
  }

  .progress-bar-main p{
    margin: 0%;
    padding-top: 0%;
    margin-left: 10px;
    font-size: 15px;
    color: aliceblue;
  }

.enlaces{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 100px;
    width: 300px;
}

.enlaces a{
    text-decoration: none;
}
.button-e{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 15%;
    background-color: #284b54;
    color: #cfb177;
    border: 1px solid #cfb177;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.button-e:hover {
    opacity: 0.8; 
  }