<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap" rel="stylesheet">

  <div class="title"> 
    <h1>FULL-STACK DEVELOPER</h1>
  </div>

  <div class="description">
    <p> Hello, I'm Candela, a second year programming student (UNICEN). 
        I enjoy developing applications in Angular, using frameworks like Bootstrap and PrimeNG.
        Additionally, I can manipulate APIs and databases.
    </p>
  </div>

  <div class="icons-container"> 
        <div class="icon-element"> 
          
            <img src="{{logoCss}}">
        </div>
        <div class="icon-element"> 
          
            <img src="{{logoJs}}"> 
        </div>
        <div class="icon-element"> 
          
            <img src="{{logoAng}}"> 
        </div>
        <div class="icon-element">         
            <img src="{{logoBoot}}">          
        </div>
  </div>
  
  <div class="progress-bar-main"> 
     <p>Lv. 01</p>
      <div class="progress-bar-container">  
        <div class="progress-bar" style="width: 70%;"></div>
      </div>
     <p>Lv. 02</p>
  </div>

  <div class="enlaces">
    <a href='/proyects'> 
      <button class="button-e">Proyects</button>
    </a>
  </div>