<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap" rel="stylesheet">

  <div class="title"> 
    <h1>FRONT-END DEVELOPER</h1>
    <p>(a bit of back to)</p>
  </div>

  <div class="description">
    <p> Hi, I'm Candela, a Programming student at the University of the Center of Buenos Aires (UNICEN).
        and this is my portfolio. I like medieval stories like GoT and also computer games like League of Legends,
        so I made something that had a little bit of both.
    </p>
  </div>

  <div class="icons-container"> 
        <div class="icon-element"> 
          
            <img src="{{logoCss}}">
            <p> 1789/2000</p> 
        </div>
        <div class="icon-element"> 
          
            <img src="{{logoJs}}"> 
            <p> 1300/2000</p>
        </div>
        <div class="icon-element"> 
          
            <img src="{{logoAng}}"> 
            <p>1458/2000</p>
        </div>
        <div class="icon-element">         
            <img src="{{logoBoot}}"> 
            <p>1200/2000</p>          
        </div>
  </div>
  
  <div class="progress-bar-main"> 
     <p>Lv. 01</p>
      <div class="progress-bar-container">  
        <div class="progress-bar" style="width: 70%;"></div>
      </div>
     <p>Lv. 02</p>
  </div>
  <div class="enlaces">
    <button class="about-me">Read More</button>
  </div>