
<body style="background-image: url('{{rutaFondoMain}}'); margin: 0; background-size: cover;">
<div class="fondo-container">

    <div class="contenedor-barra">
      <div class="barra-superior">
        <a href=''>
        <button class="boton-training">BACK</button>
      </a>
      </div>
    </div>

    <!-- Content -->
    <div class="contenido-principal" style="background-image: url('{{rutaFondoMain}}'); position: cover;">
        <app-main-proyects></app-main-proyects>
    </div>    

</div>  
</body>
    
