
<div class="card-container">

    <div class="card-item">
        <img alt="Reproductor" src="{{imgReproductor}}" />
        <h1>Reproductor</h1>
        <div class="card-content">
            <h3>JavaScript, HTML, CSS y Bootstrap</h3>
            <a target = "_blank" href="https://cande342.github.io/reproductor_javascript/" class="card-button">Visitar</a>
        </div>
    </div>

    <div class="card-item">
        <img alt="Board" src="{{imgBoard}}" />
        <h1>Tablero dinámico</h1>
        <div class="card-content">
            <h3>Angular17, CDK y Bootstrap</h3>
            <a target = "_blank" href="https://github.com/cande342/Cinema_Board.git" class="card-button">Visitar</a>
        </div>
    </div>

    <div class="card-item">
        <img alt="Tpweb" src="{{imgTPE}}" />
        <h1>Biblioteca</h1>
        <div class="card-content">
            <h3>PHP, PhpMyAdmin y Bootstrap</h3>
            <div class="button-last">
                <a target = "_blank" href="https://github.com/antonellafernandez/TudaiWeb2Tpe2023" class="card-button">Web</a>
                <a target = "_blank" href="https://github.com/cande342/TPEWeb_ApiRest" class="card-button">API</a>
            </div>
        </div>
    </div>

</div>



